@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary_dark: #011c44;
  --color-brand: #2b7fff;
  --color-primary-light: #ffffff;
}
/* base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-primary_dark);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
ul {
  color: var(--color-primary_dark);
  list-style: none;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
.section {
  padding-bottom: 96px;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/* title */
.section-title {
  margin-bottom: 48px;
  color: var(--color-primary_dark);
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-family: "Play", sans-serif;
}
/* .titles {
} */
.accent {
  color: var(--color-brand);
}

/* link */
.nav-link {
  color: var(--color-primary_dark);
  text-decoration: none;
}

.nav-link:hover {
  font-weight: 700;
  color: var(--color-brand);
}
/* button */
.button-primary {
  padding: 16px 32px;
  margin-bottom: 14px;
  font-weight: 600;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  border: 1px solid var(--color-brand);
}

.button-primary:hover {
  color: var(--color-primary_dark);
  background-color: transparent;
  border: 1px solid var(--color-brand);
}
/* header */
.header-container {
  display: flex;
  text-align: center;
}
.nav-link-list {
  display: flex;
  text-align: center;
}
.social-list {
  display: flex;
}

/* hero section */
.hero-section {
  padding-top: 16.5px;
  padding-bottom: 126.5px;
}
.hero-title {
  margin-bottom: 40px;
  color: var(--color-brand);
  font-family: "Play", sans-serif;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
}

.hero-item {
  margin-bottom: 16px;
}

.hero-info {
  font-size: 12px;
  line-height: 1.5;
}
/* about-us-section */
.about-us-section {
  padding-bottom: 176px;
}
.about-us-section .accent {
  text-transform: capitalize;
}
.about-title {
  margin-bottom: 40px;
}
.about-us-text:first-child {
  margin-bottom: 40px;
}
.about-us-text:last-child {
  margin-bottom: 0px;
}
.about-us-text {
  font-size: 22px;
  line-height: 1.73;
}
.about-us-name {
  text-transform: capitalize;
}
/* advantages-section */
.advantages-list {
  gap: 56px;
}
.advantages-item-text {
  line-height: 1.33;
  text-align: center;
  color: #000;
}
/* procedures-section */
.procedures-list {
  gap: 16px;
}
.procedures-item-text {
  font-size: 22px;
  line-height: 1.18;
}
/* contact-section */
.contact-section {
  padding-bottom: 94px;
}
.contact-items {
  gap: 32px;
}
.map {
  width: 100%;
  max-width: 605px;
}

/* form */
.form-wraper {
  background-color: var(--color-primary_dark);
  border-radius: 20px;
  color: var(--color-primary-light);
}
.form-title {
  font-size: 22px;
  font-weight: 600;
}
.form-copyright {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #747272;
}

.form-input {
  font-size: 13px;
  color: var(--color-primary-light);
  border-radius: 32px;
  cursor: pointer;
  border: 1px solid #747272;
}
.form-input:active {
  background-color: #747272;
}
.button-form {
  font-weight: 600;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  border: 1px solid var(--color-brand);
}

/* footer section */
.footer-section {
  background-color: var(--color-primary_dark);
}
.footer-link {
  font-size: 16px;
  color: var(--color-primary-light);
}
.copyright {
  color: #747272;
  font-size: 13px;
}
